:root{
    /* Colores */
    --greybackground: #dad7cd;
    ---composition-gren: #a3b18a;
    --line-down:#344e41;
    /* 588157 
    3a5a40
    344e41*/
    /* font-family: 'Montserrat', sans-serif; */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    min-width: 320px;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(---composition-gren);
}
a{
    text-decoration: none;
    color: rgb(34, 32, 32);
    cursor: pointer;
}
.header-navegation{
    min-width: 320px;
    width: 100%;
    height: 60px;
    background-color: var(--greybackground);
}
nav{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.nav-left-section {
    margin-left: 30px;
    align-self: center;
}
.nav-left-section img{
    width: 30px;
    height: 30px;
}
.nav-right-section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 30px; 
}
.nav-right-section a{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6rem;
    /* dar espacio entre letras */
    /* letter-spacing: ; */
    border-bottom: 1px solid var(--line-down);
}
.header-end{
    margin-right: 10px;
}
/*          BLOG            */
.blog-sam{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 30px;
}
.blog-sam h2{
    font-size: 3rem;
    margin-bottom: 30px;
}
.table-blog{
    margin: 0 auto;
    text-align: justify;
    border-collapse: separate;
    border-spacing: 20px 15px;
    border: black solid 1px;
    font-size: 1.2rem;
}
.first-table{
    border-bottom: black solid 1px;
    font-size: 2rem;
}
.gridvsinline-grid{
    margin-top: 40px;
}
.second-text{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.4rem;
}
/* Explicacion css */
.Three{
    height: auto;
    margin-top: 30px;
}
.Three p{
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.lista-cssGrid{
    text-align: justify;
    font-size: 1.3rem;
}
.lista-cssGrid li{
    margin-bottom: 12px;
}
.Three-title-css {
    margin: 0 auto;
}
.Three  img{
    width: 100%;
}
