:root{
    /* Colores */
    --greybackground: #dad7cd;
    ---composition-gren: #a3b18a;
    --line-down:#344e41;
    /* 588157 
    3a5a40
    344e41*/
    /* font-family: 'Montserrat', sans-serif; */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    min-width: 320px;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(---composition-gren);
}
/*      HEADER        */
a{
    text-decoration: none;
    color: rgb(34, 32, 32);
    cursor: pointer;
}
.header-navegation{
    min-width: 320px;
    width: 100%;
    height: 60px;
    background-color: var(--greybackground);
}
nav{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.nav-left-section {
    margin-left: 30px;
    align-self: center;
}
.nav-left-section img{
    width: 30px;
    height: 30px;
}
.nav-right-section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 30px; 
}
.nav-right-section a{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6rem;
    /* dar espacio entre letras */
    /* letter-spacing: ; */
    border-bottom: 1px solid var(--line-down);
}
.header-end{
    margin-right: 10px;
}
/*          main            */
main{
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
main .main-left img{
    width: 60%;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 50px;
}
main .main-right {
    max-width: 300px;
    margin: 0 auto;
    width: 80%;
}
.main-right p{
    font-weight: 500;
    font-size:  1.3rem;
    line-height: 2rem;
}
h1{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 20px;
}
