*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    min-width: 320px;
    margin: 0 auto;
    width: 80%;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}
/*      HEADER        */
.header-navegation{
    background-color: #f2f2f2;
    width: 100%;
    height: 4rem;
}
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-right-section{
    padding: 10px;
    list-style: none;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-right-section li{
    display: inline-block;
    padding-left: 30px;
}
.nav-right-section li a{
    width: auto;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.icon{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 2px;
    background-image: url('../img/down-arrow.svg');
}
.header-end{
    margin-right: 10px;
}
header nav ul li a:hover{
    color: rgb(12, 12, 92);
}

/*          main            */
main{
    height: calc(100vh - 5rem);
    margin: 0 auto;
    text-align: center;
    background-color: #f2f2f2;
}
main .main-left img{
    width: 60%;
    border-radius: 50%;
    margin-bottom: 3rem;
    margin-top: 30px;
}
main .main-right {
    margin: 0 auto;
    width: 80%;
}
.main-right p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 15px;
}
h1{
    margin-bottom: 1rem;
}


/*          footer        */
footer{
    height: 1rem;
    font-size: 1rem;
    text-align: end;
    background-color: #f2f2f2;
    width: 80%;
    position: absolute;
    bottom: 0;
}